@charset "utf-8";
/* CSS Document */
.Red {
	width: 500px;
	height: 50px;
	background-color: red;
}

.Blue {
	max-width: 1000px;
	height: 50px;
	background-color: blue;
}

.Green {
	width: 50%;
	height: 50px;
	background-color: green;
}

.Yellow{
	min-width: 800px;
	height: 50px;
	background-color: yellow;
}

.flexbox {
	background-color: gray;
	display: flex;
	flex-flow: wrap;
}

.flexbox p {
	background-color: white;
	margin: 10px;
	text-align: center;
	flex: 1 1 250px;
}

#flexitem1 {
	flex: 1 1 500px;
}

.grid {
	background-color: aqua;
	display: grid;
	grid-template-columns: 1fr 2fr 50%;
	grid-template-rows: 50px 50px;
	gap:10px 20px;
}
.grid p {
	background-color: crimson;
	margin:5px;
	text-align: center;
}
#griditem {
	/*grid-column: 1/3;
	grid-row: 1/6;*/
	grid-area: 1/1/3/3; /*start række / startkolonne / slut række / slut kolonne*/
	
}
@media screen and (max-width:500px) {
	.Red {
		background-color: pink;
	}
	.Green {
		width: 100%;
	}
	.flexbox {
		flex-direction: column;
	}
}
@media (orientation:landscape){
	.Blue {
		background-color: darkblue;
	}
}